nav {
  background-color: #333;
  padding: 1em;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #ccc;
}

.logout-btn {
  background: none;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.logout-btn:hover {
  border-radius: 5px;
  background-color: #3e8e41;
}

.logout-btn:active {
  transform: scale(0.9);
}


.product-list {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.product-table {
  border-collapse: collapse;
  width: 100%;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.product-table thead {
  position: sticky;
  top: 0;
}

.product-table th {
  background-color: #f0f0f0;
}

.product-table tr:nth-child(even) {
  background-color: #f7f7f7;
}

.edit-btn,
.delete-btn {
  margin-right: 10px;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.edit-btn {
  background-color: #4CAF50;
  color: #fff;
}

.edit-btn:hover {
  background-color: #3e8e41;
}

.delete-btn {
  background-color: #ff0000;
  color: #fff;
}

.delete-btn:hover {
  background-color: #cc0000;
}

.edit-btn:active,
.delete-btn:active {
  transform: scale(0.9);
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* width: 500px; */
  /* max-width: 90%; */
}







form {
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

form label {
  display: block;
}



input[type="text"],
input[type="number"],
select {
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:active {
  transform: scale(0.9);
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.error {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 1px solid rgba(102, 51, 153, 0.307);
  border-radius: 8px;
  padding: 8px;
  color: red;
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
}




.add-product {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4CAF50;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-product button {
  padding: 0;
  border: none;
  background: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.add-product:hover {
  background-color: #3e8e41;
  transform: scale(1.1);
}

.add-product:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateY(2px);
}